header {
  background-color: red;
  height: 70px;
  width: 100%;
  #contenitore_logo_menu {
    display: flex;
    height: 70px;
    width: 100%;
    .wrapLogo{
      width: 30%;
      height: 100%;
      background-color: green;
      .title {
        line-height: 70px;
        text-transform: uppercase;
      }
    }
    .wrapMenu {
      width: 70%;
      height: 100%;
      background-color: orange;

    }
  }
}
